html {
  font-size: 16px;
}

  .generated {
    color: #fafafa;
  }

  #input-message {
    color: #ffffff;
  }

  .bpw-new-messages-indicator{
    background-color: #222020;
    color: #ffffff;
  }
  
  .bpw-header-container {
    margin: 10px 10px 0px 10px;
    background: #333333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bpw-typing-bubble{
  background: #ffffff;
}

  .bpw-chat-bubble-content {
    background-color: #222020;
    border-radius: 13.5px;
    border: 1px transparent;
  }
  .bpw-header-container {
    border: 1px;
    border-radius: 45px;
  }
  .bpw-date-container,
  .bpw-header-name,
  .bpw-header-subtitle {
    color: #ffffff;
  }
  
  .bpw-layout {
    width: 375px !important;
    border: 1px;
    height: 85vh;
    border-radius: 45px;
    right: 8%;
    bottom: 3%;
  }

  @media screen and (max-device-width: 767px) {
    .bpw-layout {
        width: 100% !important;
        height: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
}

  .bpw-header-icon,
  .bpw-header-icon svg,
  .bpw-header-icon svg path {
    fill: #ffffff !important;
  }
  .bpw-header-container {
    color: #333333;
  }

  #input-message::placeholder {
    color: #ffffff; 
  }

  .bpw-keyboard-single-choice{
    background-color: #141414;
    border: none;
  }
  .bpw-button, .bpw-button-alt{
    background-color: #080707;
    color: #ffffff;
  }
  .bpw-button {
    border-radius: 45px;
    border:none;
  }
  .bpw-button:hover, .bpw-button-alt:hover{
    background-color: #222020;
    color: #ffffff;
  }

  a{
    color: #ffffff;
    text-decoration: underline;
  }


  .bpw-chat-container {
    background-color: #141414;
  }

  .bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #222020;
    color: #ffffff;
  }

  .bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #189cf3;
    color: #ffffff;
  }

  .bpw-composer {
    background-color: #141414;
    border-top: 1px solid #222020;
  }

  .bpw-chat-container::-webkit-scrollbar {
    width: 10px;
    background-color: #141414;
  }

  .bpw-chat-container::-webkit-scrollbar-thumb {
    background-color: #141414;
  }

  .bpw-bot-avatar img,
  .bpw-bot-avatar svg {
    background: #afafaf;
    background-size: cover;
    border: 3px solid #ffffff;
  }

  ::-webkit-scrollbar{
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track{
    background-color:transparent;
  }

  ::-webkit-scrollbar-thumb{
    background-color:#141414;
    border-radius:1rem;
    border: 0.5rem solid transparent;

  }

  .bpw-floating-button i svg path {
    fill: #fafafa;
}

.bpw-floating-button {
    background: black;
    border-radius: 52px;
}


  .bpw-chat-container {
    scrollbar-width: thin;
    scrollbar-color: #222020 #141414;
    border: none;
  }

  .bpw-chat-container::-moz-scrollbar {
    width: 10px;
    border:none;
  }

  .bpw-chat-container::-moz-scrollbar-track {
    background-color:transparent;
    border:none;
  }

  .bpw-chat-container::-moz-scrollbar-thumb {
    background-color:#141414;
    border:none;
  }
